{% extends 'base.html' %}
{% load i18n %}
{% block styles %}
    <style type="text/css">
        .nav.nav-tabs {
            display: inline-flex;
            list-style: none;
            margin: 0;
            padding: 1%;
        }

        .nav-link.active {
            color: #d58512;
            width: 150%
        }


         .col-custom-width {
            margin-top: 5%;

        }


        .pad10 {
            padding: 0 3px;
        }
        .mTop10{


        }

        .form-control {
            padding: 10%;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 400%;
            outline: none;
        }

        .pagination {
            justify-content: center;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- search input -->
    <div class="row padSearch">
        <div class="col-md-6"></div>
        <div class="col-custom-width">
            <input id="q" type="text" class="form-control" placeholder=" Search...">
        </div>
        <div class="col"></div>
    </div>
    <br>
    <!-- button add -->
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <a href="{% url 'new_teacher' %}">
                <button type="button" class="btn btn-primary btn-sm"><span class="fal fa-plus">Add Teacher</span>
                </button>
            </a>
        </div>
    </div>
    <br>


    <div class="pad10 mTop10 table table-responsive" id="primery_div">
        <table class="module table table-striped table-bordered" id="example">
            <thead>
            <tr>
                <th>name</th>
                <th>Phone number</th>


            </tr>
            </thead>
            <tbody>

            {% for e in etudinats %}
                <tr class="model-group module">
                    <td> {{ e.name }} </td>
                    <td> {{ e.phone_number }} </td>

                  <td>

                        <a href="{% url 'edit_etudiant' t.pk %}">
                            <button type="button" onclick="this.disabled=true,this.form.submit();"
                                    class="btn btn-warning btn-sm"><span class="fal fa-pencil"></span></button>
                        </a>

                        <a href="{% url 'teacher_details' t.pk%}">
                            <button type="button" onclick="this.disabled=true,this.form.submit();"
                                    class="btn btn-info btn-sm"><span class="fal fa-info-circle"></span></button>
                        </a>


                        <a href="{% url 'delete_etudiant' t.pk%}"
                           onclick="return confirm(' Are you sure you want to delete this Teacher?')">
                            <button type="button" class="btn btn-danger btn-sm"><span class="fal fa-trash"></span>
                            </button>
                        </a>

                    </td>




                </tr>

            {% empty %}

                <tr class="model-group module">
                    <td colspan="12" align="center">No results</td>
                </tr>

            {% endfor %}
            </tbody>

        </table>
    </div>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                                     href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}"><i
                    class="fal fa-chevron-left" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span><i
                    class="fal fa-chevron-left"></i></span></a></li>
        {% endif %}
        {% if page_obj.number > 4 %}
            <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page=1">{{ 1 }}</a></li>
        {% endif %}
        {% if page_obj.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link"
                                     href="?q={{ request.GET.q }}&page={{ page_obj.number|add:'-4' }}">&hellip;</a>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#"><span>{{ i }} <span
                        class="sr-only">(current)</span></span></a>
                </li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            <li class="page-item"><a class="page-link"
                                     href="?q={{ request.GET.q }}&page={{ page_obj.number|add:'4' }}">&hellip;</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:4 < page_obj.paginator.num_pages %}
            <li class="page-item"><a class="page-link"
                                     href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                                     href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}"><i
                    class="fal fa-chevron-right" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><span><i
                    class="fal fa-chevron-right" aria-hidden="true"></i></span></a></li>
        {% endif %}
    </ul>

{% endblock content %}
{% block scripts %}

    <script>

        $('#q').on('input', function () {

            var value = $(this).val().toLowerCase();
            $("#example tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          $("#example thead tr").show()
        });
    </script>
{% endblock %}